body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Убрать "стрелки" у числовых полей ввода */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input{
  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button{
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.button-form-visible{
  padding: 0;
  width: 100%;
  height: 86px;

  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}

.button-form-visible:hover,
.button-form-visible:focus{
  background-color: #604e43;
}

.button-form-visible:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-search{
  padding: 0;
  margin-top: 24px;

  height: 58px;

  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus{
  background-color: #669ec0;
}

.button-search:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-less,
.button-more{
  width: 38px;
  height: 38px;
  color: #a9a9a9;

  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.button-less:hover,
.button-more:hover,
.button-less:focus,
.button-more:focus{
  color: #000000;
}

.button-more:active,
.button-less:active{
  color: #81b3d2;
}

.button-calendar{
  position: absolute;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 22px;
  padding: 0;

  border: none;
  outline: none;
  background-color: #f2f2f2;
  fill: #cacaca;
}

.button-calendar:hover,
.button-calendar:focus{
  fill: #000000;
}

.button-calendar:active{
  fill: #81b3d2;
}

.page-wrapper{
  margin: 0 auto;
  width: 1200px;

  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.main-navigation{
  position: relative;
  padding: 0 73px;

  line-height: 26px;
  font-weight: 700;
}

.logo-wrapper{
  position: absolute;
  left: 50%;
  z-index: 1;

  width: 140px;
  height: 71px;

  transform: translateX(-50%);
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;
  min-height: 56px;

  list-style: none;
}

.site-navigation li{
  box-sizing: border-box;
  width: 25%;
}

.site-navigation li:nth-child(2){
  transform: translateX(-20px);
}

.site-navigation li:nth-child(3){
  transform: translateX(20px);
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n){
  text-align: right;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus
{
  color: #81b3d2;
}

.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.current-page a{
  pointer-events: none;
  color: #766357;
}

.promo{
  margin-bottom: 26px;

  text-align: center;
}

.promo-wrapper{
  position: relative;

  box-sizing: border-box;
  height: 510px;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-bottom: 60px;

  background-image:url('../img/background.jpg');
  background-position: 0 -56px;
}

.promo-wrapper::after{
  content: " ";

  position: absolute;
  width: 100%;
  height: 59px;
  bottom: -2px;
  left: 0;

  background-image: url('../img/polygon.svg');
}

.page-title{
  width: 440px;
  margin: 0 auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features{
  margin-bottom: 50px;
}

.features-description{
  margin: 0 auto;
  margin-bottom: 50px;
  width: 500px;

  text-align: center;
  line-height: 26px;
}

.features-list{
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item h3{
  margin: 0;

  font-size: 21px;
  line-height: 21px;
}

.features-item p{
  margin: 0;
}

.two-blocks-item-wrapper{
  display: flex;
  flex-direction: column;
}

.block-item-wrapper{
  display: flex;
}

.features-item:nth-child(2){
  flex-direction: row-reverse;
}

.item-info-wrapper{
  padding-top: 48px;
  padding-bottom: 40px;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;

  text-align: center;
}

.item-info-wrapper h3{
  margin: 0 auto;
  margin-bottom: 25px;
  width: 160px;
}

.item-info-wrapper p:nth-of-type(1){
  margin-bottom: 20px;
}

.picture-wrapper{
  width: 800px;
  height: 256px;
}

.services-list{
  display: flex;
  padding: 0;

  list-style: none;
}

.services-item{
  position:relative;

  box-sizing: border-box;
  width: 400px;
  min-height: 330px;

  padding-top: 164px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 30px;

  text-align: center;
}

.services-item::before{
  content: "";

  position: absolute;
  left: 50%;
  top: 58px;
  width: 75px;
  height: 76px;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  transform: translateX(-50%);
}

.house::before{
  background-image: url('../img/house.svg');
}

.food::before{
  background-image: url('../img/food.svg');
}

.gift::before{
  background-image: url('../img/gift.svg');
}

.services-item h4{
  margin: 0;
  margin-bottom: 22px;

  font-size: 21px;
}

.blue{
  color: #ffffff;
  background-color: #81b3d2;
}

.gray{
  background-color: #eeeeee;
}

.gray p{
  margin: 0 auto;
  width: 261px;
}

.narrow p{
  width: 259px;
}

.search-info > p{
  width: 455px;
  margin: 0 auto;

  text-align: center;
}

.search-info > p:first-of-type{
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-info > p:nth-of-type(2){
  margin-bottom: 48px;

  line-height: 24px;
}

.modal-search{
  position: relative;
  margin: 0 auto;

  box-sizing: border-box;
  width: 568px;
}

.search-form{
  display: flex;
  flex-direction: column;

  position: absolute;
  min-height: 395px;
  padding: 55px;
  box-sizing: border-box;
  width: 100%;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.search-form input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.full-width-wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 30px;
}

.full-width-wrapper label{
  margin: auto 0;
}

.input-date{
  padding-left: 12px;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
}

.input-number{
  padding: 0 15px;
  width: 8px;
}

.half-width-wrapper{
  margin: 0;
  /* width: 50%; */
  display: flex;
}

.half-width-wrapper .button-less{
  margin-left: auto;
}

.adults{
  width: 225px;
}

.children {
  width: 229px;
}

.children label{
  margin-left: 50px;
}

.map{
  margin-bottom: -120px;
  height: 593px;
}

/* ***********Catalog */
.catalog-list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item{
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 28px 73px 29px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item::before{
  content: "";

  position: absolute;
  top: 30px;
  right: 73px;
  width: 18px;
  height: 18px;

  background-image: url('../img/star.svg');
  background-repeat: space;
}

.catalog-item.stars-4::before{
  width: 88px;
}

.catalog-item.stars-3::before{
  width: 64px;
}

.catalog-item.stars-2::before{
  width: 40px;
}

.catalog-item:first-child{
  border-top: 1px solid #e5e5e5;
}

.catalog-item h2{
  margin: 0;
  margin-bottom: 7px;

  line-height: 26px;
}

.hotel-photo{
  width: 135px;
  height: 90px;
  align-self: flex-start;

  margin-right: 30px;
}

.hotel-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 528px;
}

.hotel-name{
  color: #000000;
  line-height: 26px;
}

.hotel-name:focus,
.hotel-name:hover{
  color: #81b3d2;
}

.hotel-name:active{
  color: rgba(0, 0, 0, 0.3);
}

.left-part{
  display: inline-block;
  width: 110px;
  margin-right: 2px;
}

.right-part{
  display: inline-block;
}

.short-info{
  margin: 0;
  margin-bottom: 13px;
}

.buttons{
  margin: 0;
}

.buttons a{
  height: 21px;
  padding: 3px 0;
  text-align: center;
}

.button-details{
  background-color: #81b3d2;
}

.button-details:focus,
.button-details:hover{
  background-color: #669ec0;
}

.button-details:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve{
  width: 142px;
  background-color: #766357;
}

.button-reserve:focus,
.button-reserve:hover{
  background-color: #604e43;
}

.button-reserve:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  width: 110px;
  height: 24px;

  color: #666666;
  background-color: #f2f2f2;
}

/* ******* footer */
.main-footer{
  display: flex;
  position: relative;
  min-height: 120px;
  text-align: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer > *{
  margin: 0;
  padding: 0;
  width: 400px;
}

.footer-hash{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
}

.footer-social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social li{
  margin-right: 6px;
}

.footer-social li:last-child{
  margin-right: 0;
}

.social-button{
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button::after{
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 22px;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.social-button:focus,
.social-button:hover{
  background-color: #669ec0;
}

.social-button:active::after{
  opacity: 0.3;
}

.social-tw::after{
  background-image: url("../img/twit-icon.svg");
}

.social-fb::after{
  background-image: url("../img/fb-icon.svg");
}

.social-yt::after{
  background-image: url("../img/youtube-icon.svg");
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 26px;
}

.footer-copyright a{
  margin-left: 9px;

  line-height: 0;
}

.footer-copyright a:focus,
.footer-copyright a:hover{
  fill: #81b3d2;
}

.footer-copyright a:active{
  fill: #bdbbbc;
}

/*
div, section, ul{
  outline: 2px solid red;
}

header, nav, footer, main{
  outline: 1px solid #5fe310;
}

p, h1, h2, h3, h4, span, li, img{
  outline: 1px dashed grey;
} */
