body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button{
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  outline: none;
  cursor: pointer;
}

.button-form-visible{
  position: relative;
  z-index: 1;
  padding: 0 10px;
  width: 100%;
  min-height: 86px;

  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}

.button-form-visible:hover,
.button-form-visible:focus{
  background-color: #604e43;
}

.button-form-visible:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-search{
  padding: 0 10px;
  margin-top: 24px;

  min-height: 58px;

  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus{
  background-color: #669ec0;
}

.button-search:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-less,
.button-more{
  position: relative;
  width: 38px;
  height: 38px;
  color: #a9a9a9;

  border: none;
  outline: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-less::before,
.button-more::before,
.button-more::after{
  content: "";

  position: absolute;
  width: 12px;
  height: 3px;
  left: 50%;
  top: 50%;

  background-color: #a9a9a9;
  -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.button-more::after{
  width: 3px;
  height: 12px;
}

.button-less:hover::before,
.button-more:hover::before,
.button-more:hover::after,
.button-less:focus::before,
.button-more:focus::before,
.button-more:focus::after{
  background-color: #000000;
}

.button-less:active::before,
.button-more:active::before,
.button-more:active::after{
  background-color: #81b3d2;
}

.button-calendar{
  position: absolute;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 22px;
  padding: 0;

  border: none;
  outline: none;
  background-color: #f2f2f2;
  fill: #cacaca;
  cursor: pointer;
}

.button-calendar:hover,
.button-calendar:focus{
  fill: #000000;
}

.button-calendar:active{
  fill: #81b3d2;
}

.button-filter-results{
  display: block;
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 136px;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-left: 85px;

  text-align: center;
  font-weight: 400;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.button-filter-results:hover,
.button-filter-results:focus{
  color: #000000;
  background-color: #ffffff;
}

.page-wrapper{
  margin: 0 auto;
  width: 1200px;

  -webkit-box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
      box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.main-navigation{
  position: relative;
  padding: 0 73px;

  line-height: 26px;
  font-weight: 700;
}

.main-navigation a{
  outline: none;
}

.logo-wrapper{
  position: absolute;
  left: 50%;
  z-index: 1;

  width: 140px;
  height: 71px;

  -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
}

.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding-top: 15px;
  padding-left: 0;
  /* не работает в IE
  align-items: center;
  padding: 0; */

  min-height: 41px;

  list-style: none;
}

.site-navigation li{
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 25%;
}

.site-navigation li:nth-child(4n-2){
  -webkit-transform: translateX(-23px);
      transform: translateX(-23px);
}

.site-navigation li:nth-child(4n-1){
  -webkit-transform: translateX(23px);
      transform: translateX(23px);
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n){
  text-align: right;
}

.site-navigation-href{
  color: #000000;
}

.current-page{
  pointer-events: none;
  cursor: default;
  color: #766357;
}

.site-navigation-href:not(.current-page):hover,
.site-navigation-href:not(.current-page):focus
{
  color: #81b3d2;
}

.site-navigation-href:not(.current-page):active{
  color: rgba(0, 0, 0, 0.3);
}

.promo{
  margin-bottom: 26px;

  text-align: center;
}

.promo-wrapper{
  position: relative;

  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  height: 510px;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-bottom: 60px;

  background-color: #dbe9f2;
  background-image:url('../img/background.jpg');
  background-position: 0 -56px;
}

.promo-wrapper::after{
  content: " ";

  position: absolute;
  width: 100%;
  height: 59px;
  bottom: -2px;
  left: 0;

  background-image: url('../img/polygon.svg');
}

.page-title{
  width: 440px;
  margin: 0 auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features{
  margin-bottom: 50px;
}

.features-description{
  margin: 0 auto;
  margin-bottom: 50px;
  width: 500px;

  text-align: center;
  line-height: 26px;
}

.features-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item h3{
  margin: 0;

  font-size: 21px;
  line-height: 21px;
}

.features-item p{
  margin: 0;
}

.two-blocks-item-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-item-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item:nth-child(2){
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-info-wrapper{
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-right: 48px;
  padding-left: 48px;

  text-align: center;
}

.item-info-wrapper h3{
  margin: 0 auto;
  margin-bottom: 25px;
  width: 160px;
}

.item-info-wrapper p:nth-of-type(1){
  margin-bottom: 20px;
}

.picture-wrapper{
  width: 800px;
  height: 256px;
}

.services-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;

  list-style: none;
}

.services-item{
  position:relative;

  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 400px;
  min-height: 330px;

  padding-top: 164px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 30px;

  text-align: center;
}

.services-item::before{
  content: "";

  position: absolute;
  left: 50%;
  top: 58px;
  width: 75px;
  height: 76px;

  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
}

.house::before{
  background-image: url('../img/house.svg');
}

.food::before{
  background-image: url('../img/food.svg');
}

.gift::before{
  background-image: url('../img/gift.svg');
}

.services-item h4{
  margin: 0;
  margin-bottom: 22px;

  font-size: 21px;
}

.blue{
  color: #ffffff;
  background-color: #81b3d2;
}

.gray{
  background-color: #eeeeee;
}

.gray p{
  margin: 0 auto;
  width: 261px;
}

.narrow p{
  width: 259px;
}

.search-info > p{
  width: 455px;
  margin: 0 auto;

  text-align: center;
}

.search-info > p:first-of-type{
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-info > p:nth-of-type(2){
  margin-bottom: 48px;

  line-height: 24px;
}

.modal-search{
  position: relative;
  margin: 0 auto;

  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  width: 568px;
}

@-webkit-keyframes move {
  0% {-webkit-transform: translateY(-200px) scaleY(0);
      transform: translateY(-200px) scaleY(0);}
  100% {-webkit-transform: translateY(0) scaleY(100%);
      transform: translateY(0) scaleY(100%);}
}

@keyframes move {
  0% {-webkit-transform: translateY(-200px) scaleY(0);
      transform: translateY(-200px) scaleY(0);}
  100% {-webkit-transform: translateY(0) scaleY(100%);
      transform: translateY(0) scaleY(100%);}
}

@-webkit-keyframes _scale{
  0%, 20%, 40%, 60%, 80%, 100%{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10%, 30%, 50%, 70%, 90%{
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes _scale{
  0%, 20%, 40%, 60%, 80%, 100%{
    transform: scale(1);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: scale(0.5);
  }
}

.search-form{
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 3;
  top: 86px;
  min-height: 395px;
  padding: 55px;
  box-sizing: border-box;
  width: 100%;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
  animation: move 0.35s;
}

.form-hidden{
  display: none;
}

.form-mistake{
  animation: _scale 0.6s;
}

.search-form input{
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

/* Убрать "стрелки" у числовых полей ввода */
.search-form input::-webkit-outer-spin-button,
.search-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.search-form input[type='number'] {
    -moz-appearance: textfield;
}

.search-form input::-webkit-input-placeholder {
  color: #000000;
}

.search-form input::-moz-placeholder {  /* Firefox 19+ */
  color: #000000;
}

.search-form input:-ms-input-placeholder {
  color: #000000;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.full-width-wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 30px;
}

.full-width-wrapper label{
  height: 28px;
  margin: auto 0;
}

.input-date{
  padding-left: 12px;
  margin-left: auto;    /*для IE*/
  box-sizing: border-box;
  width: 346px;
  height: 38px;
}

.input-number{
  padding: 0 15px;
  width: 8px;
}

.half-width-wrapper{
  margin: 0;
  display: flex;
}

.half-width-wrapper .button-less{
  margin-left: auto;
}

.adults{
  width: 225px;
}

.children {
  width: 229px;
}

.children label{
  margin-left: 50px;
}

.map{
  position: relative;
  margin-bottom: -120px;
  height: 593px;

  background-color: #f2f1ef;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 593px;

  margin: 0;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

/* ***********Catalog */
.filter{
  display: flex;

  padding-right: 72px;
  padding-left: 72px;
  padding-top: 28px;
  padding-bottom: 32px;

  color: #ffffff;

  background-color: #3c7199;
  background-image: url('../img/filter-background.jpg');
  background-repeat: no-repeat;
  background-position: 0 -295px;
}

.filter fieldset{
  width: 230px;
  margin: 0;
  padding: 0;
  padding-right: 25px;

  border: none;
}

.filter legend{
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
}

.filter ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option{
  margin-bottom: 25px;
}

.filter-option:last-child{
  margin-bottom: 0;
}

.filter-option label{
  position: relative;
  display: block;
  padding-left: 42px;

  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1px;

  width: 27px;
  height: 23px;

  background-color: transparent;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.input-checkbox:checked + label::before{
  background-image: url('../img/checkbox-on.svg');
}

.input-checkbox:disabled + label::before{
  background-image: url('../img/checkbox-off-disabled.svg');
}

.input-checkbox:checked:disabled + label::before{
  background-image: url('../img/checkbox-on-disabled.svg');
}

.input-checkbox:disabled + label{
  color: #6a6a6a;
}

.input-checkbox:focus + label{
  outline: #ffffff 1px solid;
}

.filter-range{
  margin-left: auto;
}

.filter-range p{
  margin: 0;
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 700;
}

.price-controls{
  position: relative;

  height: 32px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  box-sizing: border-box;
  width: 156px;

  font-size: 14px;
  line-height: 34px;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls input {
  width: 50px;
  height: 25px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  outline: none;
  border: none;
}

.min-price{
  padding-left: 65px;
}

.max-price{
  padding-left: 55px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  border-width: 9px;
}

.sorting-wrapper{
  display: flex;
  align-items: center;

  padding-right: 70px;
  padding-left: 72px;
  padding-top: 32px;
  padding-bottom: 28px;

  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px solid #e5e5e5;
}

.sorting-wrapper p{
  margin: 0;
}

.sorting-wrapper a{
  outline: none;
}

.sorting-wrapper .search-results{
  margin-right: 48px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-results span{
  margin-left: 5px;
}

.sorting-list{
  display: flex;
  flex-wrap: wrap;

  max-width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 40px;

  list-style: none;
}

.sorting-list li{
  margin-right: 33px;
}

.sorting-item-href{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-current{
  pointer-events: none;
  cursor: default;

  color: #81b3d2;
  border: none;
}

.sorting-item-href:not(.sorting-current):focus,
.sorting-item-href:not(.sorting-current):hover{
  color: #81b3d2;
}

.sorting-item-href:not(.sorting-current):active{
  color: #000000;
  border: none;
}

.sorting-controls{
  margin-left: auto;
}

.sorting-controls a{
  margin-left: 10px;
  fill: #cacaca;
}

.sorting-controls .active-sorting-order{
  pointer-events: none;
  fill: #81b3d2;
}

.sorting-controls a:hover,
.sorting-controls a:focus{
  fill: #000000;
}

.sorting-controls a:active{
  fill: #81b3d2;
}

.catalog-list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item{
  position: relative;
  display: flex;
  align-items: flex-end;

  padding-right: 73px;
  padding-left: 72px;
  padding-bottom: 30px;
  padding-top: 29px;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item::before{
  content: "";

  position: absolute;
  top: 28px;
  right: 73px;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  background-image: url('../img/star.svg');
  background-repeat: space;
}

.catalog-item.stars-4::before{
  width: 88px;
}

.catalog-item.stars-3::before{
  width: 64px;
}

.catalog-item.stars-2::before{
  width: 40px;
}

.catalog-item h2{
  margin-top: -3px;
  margin-bottom: 7px;

  line-height: 26px;
}

.catalog-item a{
  outline: none;
}

.hotel-photo{
  width: 135px;
  height: 90px;
  align-self: flex-start;

  margin-right: 30px;
}

.hotel-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 528px;
}

.hotel-name{
  color: #000000;
  line-height: 26px;
}

.hotel-name:focus,
.hotel-name:hover{
  color: #81b3d2;
}

.hotel-name:active{
  color: rgba(0, 0, 0, 0.3);
}

.left-part{
  display: inline-block;
  width: 110px;
  margin-right: 2px;

  vertical-align: middle;
}

.right-part{
  display: inline-block;
  vertical-align: middle;
}

.short-info{
  margin: 0;
  margin-bottom: 13px;
}

.buttons{
  margin: 0;
}

.buttons a{
  /* height: 21px; */
  padding: 3px 0;
  text-align: center;
}

.button-details{
  background-color: #81b3d2;
}

.button-details:focus,
.button-details:hover{
  background-color: #669ec0;
}

.button-details:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve{
  width: 142px;
  background-color: #766357;
}

.button-reserve:focus,
.button-reserve:hover{
  background-color: #604e43;
}

.button-reserve:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating{
  box-sizing: border-box;
  width: 110px;
  height: 26px;
  padding-left: 17px;
  padding-top: 3px;
  margin-left: auto;


  color: #666666;
  background-color: #f2f2f2;
}

/* ******* footer */
.main-footer{
  display: flex;
  position: relative;
  z-index: 3;
  height: 120px;
  text-align: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer > *{
  margin: 0;
  padding: 0;
  width: 400px;
}

.main-footer a{
  outline: none;
}

.footer-hash{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
}

.footer-social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social li{
  margin-right: 6px;
}

.footer-social li:last-child{
  margin-right: 0;
}

.social-button{
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button::after{
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 22px;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.social-button:focus,
.social-button:hover{
  background-color: #669ec0;
}

.social-button:active::after{
  opacity: 0.3;
}

.social-tw::after{
  background-image: url("../img/twit-icon.svg");
}

.social-fb::after{
  background-image: url("../img/fb-icon.svg");
}

.social-yt::after{
  background-image: url("../img/youtube-icon.svg");
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 26px;
}

.footer-copyright a{
  margin-left: 9px;

  line-height: 0;
}

.footer-logo:focus,
.footer-logo:hover{
  fill: #81b3d2;
}

.footer-logo:active{
  fill: #bdbbbc;
}
